/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --primary: #0065FC;
    --secondary: #DEEBFF;
    --grey: #D9D9D9;
    --light-grey: #F2F2F2;
    --dark-grey: #595959;
    --selected: #c4dbff;

    --max-desktop-width: 1440px;
    --filters-gap: 36px;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

p, a {
    font-weight: 400;
    font-size: 1em;
    color: #000000;
    margin:0;
    text-decoration : none;
}

h1 {
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 1.375em;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 1em;
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
input, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
#mainContainer {
    max-width: var(--max-desktop-width);
    box-sizing: border-box;
    padding: 0 50px;
    margin: 0 auto;
}
/* Definition de classes générales */
.bigger {
    font-size: 1.125em;
}
.bold {
    font-weight: 700;
}

/* Style du header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#headerLogo {
    padding-top: 44px;
    padding-left: 5px;

}
#headerLogo img {
    height: 19px;
}

#topNavigation {
    display: flex;

}
#topNavigation ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;

}

#topNavigation ul li a{
    padding: 0 34px 0 34px;
    text-decoration: none;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: end;
    box-sizing: border-box;
}
#topNavigation ul li a:hover, #topNavigation ul li a:active, #topNavigation ul li a:focus{
    /* text-shadow imite le style font-weight:500, cela permet une meilleure transition*/
    text-shadow:
    -0.1px -0.1px 0 var(--primary),
    0.1px -0.1px 0 var(--primary),
    -0.1px 0.1px 0 var(--primary),
    0.1px 0.1px 0 var(--primary);
    transition: text-shadow .2s;
    color: var(--primary);
    border-top: solid var(--primary) 2px;
}



/* Style de la section recherche */
#searchSection{
    margin-top: 63px;
}
#searchSection h1 + p {
    margin-top: 8px;
}
#searchBox {
    margin: 20px 0 31px;
    display: flex;
    height: 49px;
    font-size: 1.125em;
    font-weight: 700;
}
#searchBox #locationIcon {
    display: flex;
    height: 49px;
    width: 50px;
    min-width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--light-grey);
    align-items: center;
    justify-content: center;
}
#searchBox #locationInput {
    border: 1px solid var(--light-grey);
    padding-left: 16px;

}
#searchBox #locationInput:focus {
    outline: 0;
}
#searchBox #locationSubmit {
    background-color: var(--primary);
    border: 0;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    padding: 14px 16px;
    cursor: pointer;
    min-width: 50px;
    min-height: 49px;
}
#searchBox #locationSubmit i{
    display: none;
}

#searchFilters {
    display: flex;
    flex-direction: row;
    border: 0;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 12px 0;
    margin: 0 0 40px;

}
.filter-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: calc(-1 * var(--filters-gap)) 0 0 calc(-1 * var(--filters-gap));
}
#searchFilters p {
    font-size: 1.125em;
    font-weight: 700;
    margin: 0 32px 0 0px;
}
#searchFilters input {
    display: none;
}
#searchFilters label {
    cursor: pointer;
    padding: 14px 20px;
    margin: var(--filters-gap) 0 0 var(--filters-gap);
    border: 2px solid var(--grey);
    border-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.0625em;
    font-weight: 700;
    min-height: 50px;
    box-sizing: border-box;
    
}
#searchFilters label i {
    padding: 0px 10px 0px 0px;
    color: var(--primary);
    font-size: 1.3em;
}
#searchFilters label:hover {
    background-color: var(--secondary);
}
#searchFilters input:checked + label {
    background-color: var(--secondary);
    box-shadow: 0px 0px 10px #0000002b;
}
#searchInfo {
    display: flex;
    align-items: center;
}
#searchInfo span:nth-child(1) {
    color: var(--primary);
    border: 1px solid var(--grey);
    box-sizing: border-box;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.63em;
    margin: 0px 11px 0 9px;
}

/* STYLE de la SECTION HEBERGEMENT */
/* Styles généraux de la section */
#accomodationSection {
    display: flex;
    margin-top: 37px;
    gap: 40px;
    
}
#accomodationSection #containerLeft h2, #accomodationSection #containerRight .title-container {
    margin-top: 40px;
    margin-bottom: 23px;
}
#accomodationSection>div{
    border-radius: 20px;
    background-color: var(--light-grey);
    padding: 0 40px;
}
.rating {
    color: var(--primary);
    font-size: 0.7em;
}
.rating .inactive {
    color: var(--grey);
}
.accomodation-card:hover, .popular-card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.accomodation-card:hover img, .popular-card:hover img {
    opacity: 0.8;
}

/* Style Section hébergment conteneur de gauche "hébergements à Marseille" */

#accomodationSection #containerLeft {
    flex: 2.12;
    padding-bottom: 46px;
}
#accomodationSection #containerLeft>a:last-of-type{
    padding: 0 0 0 4px;
}

.accomodation-card {
    width: 30.75%;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    transition: box-shadow 0.2s;
}

.accomodation-card .bottom-container {
    margin: 0px 16px;
    padding-bottom: 10px;
    height: 71px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.accomodation-card .bottom-container p{
    font-size: 0.875em;
}
.accomodation-card img{
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
    height: 124px;
    transition: opacity 0.2s;
}
.accomodation-card-container {
    display:flex ;
    flex-wrap: wrap;
    justify-content:space-between ;
    margin-bottom: 10px;
}

/* Style du conteneur de droite 'les plus populaires' dans hébergement */

#accomodationSection #containerRight {
    flex: 0.9;
}

#accomodationSection #containerRight .title-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#accomodationSection #containerRight .title-container i {
    color: var(--primary);
}
.popular-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 33px;
    transition: box-shadow 0.2s;
}
.popular-card>a {
    display: flex;
}

.popular-card img {
    width: 37%;
    object-fit: cover;
    height: 144px ;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    transition: opacity 0.2s;
}
.popular-card .right-container {
    padding: 16px 22px 12px 15px;
    display:flex;
    flex-direction: column;
}
.popular-card .right-container p {
    margin-top: 6px;
    font-size: 0.875em;
}
.popular-card .rating {
    margin-top: auto;
}


/* Style de la section activités */
#activities {
   padding-top: 60px;
   padding-bottom: 60px;
}
#activities>div {
    padding-top: 23px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.activity-card {
    width: 22.6%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}
.activity-card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.activity-card:hover h3 {
    height: 75px;
}
.activity-card img {
    object-fit: cover;
    width: 100%;
    height: 445px;
    border-radius: 20px;
}
.activity-card h3 {
    position: absolute;
    bottom: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
    transition: height 0.3s;
}


/* Style du footer */
footer {
    background-color: var(--light-grey);
    padding: 45px 70px 58px;
}
footer nav{
    display: flex;
    
}
footer nav>div:nth-child(n+2) {
    margin-left: 20%;
}
footer ul {
    margin-top: 14px;
    margin-bottom: 0px;
}
footer ul li {
    line-height: 31px;
}
footer a:hover, footer a:focus {
    color: var(--dark-grey);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1140px) {
    .filter-buttons-container {
        margin: -18px 0 0 -18px;
        width: calc(100% + 18px);
    }
    #searchFilters p{
        margin-right: 18px;
    }
    #searchFilters label{
        margin: 18px 0 0 18px;
    }

}
@media screen and (min-width:768px) and (max-width: 991px) {
    #mainContainer {
        padding: 0 72px;
    }
    /* header */
    #topNavigation ul li a{
        padding: 0;
    }

    #topNavigation ul li:first-child {
        padding-right: 68px;
    }
    /* formulaire de recherche */
    #searchFilters {
        flex-direction: column;
        align-items: flex-start;
    }
    #searchFilters label:hover {
        background-color: unset;
        box-shadow: unset;
    }
    #searchFilters p {
        margin: 0 0 15px 0;
    }

    /* section hébergment */
    #accomodationSection {
        flex-direction: column;
    }
    .accomodation-card h3, .popular-card .right-container h3 {
        font-size: calc(0.5em + 0.8vw);
    }

    /* les plus populaires */
    .most-popular-container {
        display: flex;
        justify-content: space-between;
    }
    .popular-card {
        width:31%;
    }
    .popular-card img {
        width: 42%
    }
    .popular-card .right-container {
        padding: 12px;
    }
    .popular-card .right-container p {
        font-size: 0.8125em;
    }
    /* activités */
    .activity-card h3 {
        height: calc(70px - 0.5vw);
        font-size: calc(0.85em + 0.2vw);
    }
    .activity-card img {
        height: 26.1vw;
    }
    /* footer */
    footer nav>div:nth-child(n+2) {
        margin-left: 10%;
    }
    
}
@media screen and (max-width: 767px) {
    #mainContainer {
        padding: 0;
    }
    header {
        flex-direction: column;
    }
    #headerLogo {
        padding: 21px 0 0 0;
        margin: 0 auto 50px;
    }
    #topNavigation {
        justify-content: center;
    }
    #topNavigation ul {
        width: 100%;
    }
    #topNavigation ul li {
        width: 50%;
        padding: 0 !important;
    }
    #topNavigation ul li a {
        justify-content: center;
        padding-bottom: 23px;
        width: 100%;
        border-bottom: 3px solid var(--light-grey);
    }
    #topNavigation ul li a:hover, #topNavigation ul li a:active, #topNavigation ul li a:focus{
        border-top: none;
        border-color: var(--primary);
    }

    #searchSection {
        margin-top: 31px;
        padding: 0 20px;
    }
    #searchSection h1 + p {
        margin-top: 13px;
    }
    #searchBox {
        margin: 36px 2px 34px;
    }
    #searchBox #locationInput {
        width: 100%;
    }
    #searchBox #locationSubmit span{
        display: none;
    }
    #searchBox #locationSubmit i {
        display: inline;
    }
    #searchFilters {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    #searchFilters p {
        margin: 0 0 15px 0;
    }
    #searchFilters label {
        font-size: calc(0.39em + 1.4vw);
        margin: 14px 0 0 14px;
        padding: 13px;
        min-height: 50px;
    }
    #searchFilters label:hover {
        background-color: unset;
        box-shadow: unset;
    }
    #searchFilters label i {
        padding-right: 5px;
    }
    .filter-buttons-container {
        margin: -14px 0 0 -14px;
        width: calc(100% + 14px);
    }
    .filter-buttons-container>div {
        width: 50%;
    }
    #accomodationSection {
        flex-direction: column-reverse;
    }
    .most-popular-container {
        flex-direction: column;
    }
    .popular-card {
        width: 100%;
        margin-bottom: 10px;
    }
    #accomodationSection #containerRight, #accomodationSection #containerLeft{
        flex:unset;
        padding: 0 20px 37px;
        border-radius: unset;
    }
    .accomodation-card-container {
        flex-direction: column;
    }
    .accomodation-card {
        width: 100%;
    }
    #activities>div {
        flex-direction: column;
    }
    #activities {
        padding-left: 20px;
        padding-right: 20px;
    }
    .activity-card {
        width: 100%;
        margin-bottom: 24px;
    }
    .activity-card img {
        height: 190px;
    }
    .activity-card h3 {
        height: 56px;
    }
    footer nav {
        flex-direction: column;
    }
    footer nav>div:nth-child(n+2){
        margin-left: 0;
        margin-top: 40px;
    }
}