/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --primary: #0065FC;
    --secondary: #DEEBFF;
    --grey: #D9D9D9;
    --light-grey: #F2F2F2;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

p, a {
    font-weight: 400;
    font-size: 1em;
    color: #000000;
    margin:0;
    text-decoration : none;
}
h1 {
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 1.375em;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 1em;
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
input {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
#mainContainer {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 50px;
    margin: 0 auto;
}
/* Class tool definition */
.bigger {
    font-size: 1.125em;
}
.bold {
    font-weight: 700;
}
/* HEADER STYLING */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#headerLogo {
    padding-top: 44px;
    padding-left: 5px;

}
#headerLogo img {
    height: 19px;
}

#topNavigation {
    display: flex;

}
#topNavigation ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;

}
#topNavigation ul li {
    padding: 0 34px 0 34px;
}
#topNavigation ul li a{
    text-decoration: none;
    align-self: flex-end;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: end;
    box-sizing: border-box;
}
#topNavigation ul li a:hover{
    /* text-shadow replaces the font-weight:500 because it's better for animation*/
    text-shadow:
    -0.1px -0.1px 0 var(--primary),
    0.1px -0.1px 0 var(--primary),
    -0.1px 0.1px 0 var(--primary),
    0.1px 0.1px 0 var(--primary);
    transition: text-shadow .2s;
    color: var(--primary);
    border-top: solid var(--primary) 2px;
}



/* SEARCH STYLING */
#searchSection{
    margin-top: 63px;
}
#searchSection h1 + p {
    margin-top: 8px;
}
#searchBox {
    margin: 20px 0 31px;
    display: flex;
    height: 49px;
    font-size: 1.125em;
    font-weight: 700;
}
#searchBox #locationIcon {
    display: flex;
    height: 49px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--light-grey);
    align-items: center;
    justify-content: center;
}
#searchBox #locationInput {
    border: 1px solid var(--light-grey);
    padding-left: 16px;

}
#searchBox #locationInput:focus {
    outline: 0;
}
#searchBox #locationSubmit {
    background-color: var(--primary);
    border: 0;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    padding: 14px 16px;
    cursor: pointer;
}

#searchFilters {
    display: flex;
    border: 0;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 12px 0;
    margin: 0 0 40px;

}
#searchFilters p {
    font-size: 1.125em;
    font-weight: 700;
    margin: 0 1vw 0 0px;
}
#searchFilters input {
    display: none;
}
#searchFilters label {
    cursor: pointer;
    margin: auto 1vw;
    padding: 14px 20px;
    border: 2px solid var(--grey);
    border-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.0625em;
    font-weight: 700;
    text-transform: capitalize;
}
#searchFilters label i {
    padding: 0px 10px 0px 0px;
    color: var(--primary);
    font-size: 1.3em;
}
#searchFilters input:checked + label, #searchFilters label:hover {
    background-color: var(--secondary);
}
#searchInfo {
    display: flex;
    align-items: center;
}
#searchInfo span:nth-child(1) {
    color: var(--primary);
    border: 1px solid var(--grey);
    box-sizing: border-box;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.63em;
    margin: 0px 11px 0 9px;
}

/* ACCOMODATION SECTION STYLE */
/* general accomodation section styles */
#accomodationSection {
    display: flex;
    margin-top: 37px;
    gap: 40px;
    
}
#accomodationSection #containerLeft h2, #accomodationSection #containerRight .title-container {
    margin-top: 40px;
    margin-bottom: 23px;
}
#accomodationSection>div{
    border-radius: 20px;
    background-color: var(--light-grey);
    padding: 0 40px;
}
.rating {
    color: var(--primary);
    font-size: 0.7em;
}
.rating .inactive {
    color: var(--grey);
}

/* Style Section hébergment conteneur de gauche "hébergements à Marseille" */

#accomodationSection #containerLeft {
    flex: 2.12;
    padding-bottom: 46px;
}
#accomodationSection #containerLeft>a:last-of-type{
    padding: 0 0 0 4px;
}

.accomodation-card {
    width: 30.75%;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.accomodation-card .bottom-container {
    margin: 0px 16px;
    padding-bottom: 10px;
    height: 71px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.accomodation-card .bottom-container p{
    font-size: 0.875em;
}
.accomodation-card img{
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
    height: 124px;
}
.accomodation-card-container {
    display:flex ;
    flex-wrap: wrap;
    justify-content:space-between ;
    margin-bottom: 10px;
}

/* Style du conteneur de droite 'les plus populaires' dans hébergement */

#accomodationSection #containerRight {
    flex: 0.9;
}

#accomodationSection #containerRight .title-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#accomodationSection #containerRight .title-container i {
    color: var(--primary);
}
.popular-card {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 33px;
}
.popular-card img {
    width: 37%;
    object-fit: cover;
    height: 144px ;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
}
.popular-card .right-container {
    padding: 16px 22px 12px 15px;
    display:flex;
    flex-direction: column;
}
.popular-card .right-container p {
    margin-top: 6px;
    font-size: 0.875em;
}
.popular-card .rating {
    margin-top: auto;
}


/* Style de la section activités */
#activities {
   padding-top: 60px;
   padding-bottom: 60px;
}
#activities>div {
    padding-top: 23px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.activity-card {
    width: 22.6%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.activity-card img {
    object-fit: cover;
    width: 100%;
    height: 445px;
    border-radius: 20px;
}
.activity-card h3 {
    position: absolute;
    bottom: 0px;
    background-color: #FFFFFF;
    width: 100%;
    line-height:56px;
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
}


/* Style du footer */
footer {
    background-color: var(--light-grey);
    padding: 45px 70px 58px;
}
footer nav{
    display: flex;
    
}
footer nav>div:nth-child(n+2) {
    margin-left: 20%;
}
footer ul {
    margin-top: 14px;
    margin-bottom: 0px;
}
footer ul li {
    line-height: 31px;
}