/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
    --primary: #0065FC;
    --secondary: #DEEBFF;
    --grey: #D9D9D9;
    --light-grey: #F2F2F2;
    --dark-grey: #595959;
    --selected: #c4dbff;

    --max-desktop-width: 1440px;
    --filters-vertical-gap: 14px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    max-width: var(--max-desktop-width);
    box-sizing: border-box;
    padding: 0 50px;
    margin: 0 auto;
}

p,
a {
    font-weight: 400;
    font-size: 1em;
    color: #000000;
    margin: 0;
    text-decoration: none;
}

h1 {
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 1.375em;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 1em;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

input,
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

/* -------------------------------------------------------------------------- */
/*                              CLASSES Générales                             */
/* -------------------------------------------------------------------------- */
.bigger {
    font-size: 1.125em;
}

.bold {
    font-weight: 700;
}

.color-white {
    color: #FFFFFF;
}

.primary {
    color: var(--primary);
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.sizing-border-box {
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

#headerLogo {
    padding: 44px 0 0 5px;
}

#headerLogo img {
    height: 19px;
}

#topNavigation ul li a {
    padding: 0 34px;
    height: 100%;
    align-items: end;
}

#topNavigation ul li a:hover,
#topNavigation ul li a:active,
#topNavigation ul li a:focus {
    /* text-shadow imite le style font-weight:500, cela permet une meilleure transition*/
    text-shadow:
        -0.1px -0.1px 0 var(--primary),
        0.1px -0.1px 0 var(--primary),
        -0.1px 0.1px 0 var(--primary),
        0.1px 0.1px 0 var(--primary);
    /*font-weight:500;*/
    color: var(--primary);
    border-top: solid var(--primary) 2px;
}


/* -------------------------------------------------------------------------- */
/*                              SECTION RECHERCHE                             */
/* -------------------------------------------------------------------------- */
#searchSection {
    margin-top: 63px;
}

#searchSection h1+p {
    margin-top: 8px;
}

#searchBox {
    margin: 20px 0 31px;
    height: 49px;
}

#searchBox #locationIcon {
    height: 49px;
    width: 50px;
    min-width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--light-grey);
}

#searchBox #locationInput {
    border: 1px solid var(--light-grey);
    padding-left: 16px;
}

#searchBox #locationInput:focus {
    outline: 0;
}

#searchBox #locationSubmit {
    background-color: var(--primary);
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 14px 16px;
    cursor: pointer;
    min-width: 50px;
    min-height: 49px;
}

#searchBox #locationSubmit i {
    display: none;
}

#searchFilters {
    flex-direction: row;
    border: 0;
    padding: 0 7px 0;
    margin: 0 0 38px;

}

.filter-buttons-container {
    margin-top: calc(-1 * var(--filters-vertical-gap));
    width: 100%;
}

.filter-buttons-container>div {
    margin-left: 2.7%;
}

#searchFilters>p {
    margin: 0;
}

#searchFilters input {
    display: none;
}

#searchFilters label {
    cursor: pointer;
    padding: 14px 20px;
    margin-top: var(--filters-vertical-gap);
    border: 2px solid var(--grey);
    border-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.0625em;
    min-height: 50px;
    box-sizing: border-box;
    width: max-content;

}

#searchFilters label i {
    padding: 0px 10px 0px 0px;
    color: var(--primary);
    font-size: 1.3em;
}

#searchFilters label:hover {
    background-color: var(--secondary);
}

#searchFilters input:checked+label {
    background-color: var(--secondary);
    box-shadow: 0px 0px 10px #0000002b;
}

#searchInfo span:nth-child(1) {
    color: var(--primary);
    border: 1px solid var(--grey);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin: 0px 11px 0 9px;
    flex-shrink: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 SECTION HEBERGEMENT                        */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                 Styles généraux de la section "hébergment"                 */
/* -------------------------------------------------------------------------- */
#accomodationSection {
    margin-top: 37px;
}

#accomodationSection .title-container {
    margin-top: 40px;
    margin-bottom: 23px;
}

#accomodationSection>div {
    border-radius: 20px;
    background-color: var(--light-grey);
    padding: 0 40px;
}

.rating {
    color: var(--primary);
    font-size: 0.7em;
}

.rating .inactive {
    color: var(--grey);
}

.accomodation-card:hover,
.popular-card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.accomodation-card:hover img,
.popular-card:hover img {
    opacity: 0.8;
}

/* -------------------------------------------------------------------------- */
/*      Section hébergment conteneur de gauche "hébergements à Marseille"     */
/* -------------------------------------------------------------------------- */

#accomodationSection #containerLeft {
    width: 66%;
    padding-bottom: 46px;
    margin-right: 40px;
}

#accomodationSection #containerLeft>a:last-of-type {
    padding: 0 0 0 4px;
}

.accomodation-card {
    width: 30.75%;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    transition: box-shadow 0.2s;
}

.accomodation-card .bottom-container {
    margin: 0px 16px;
    padding-bottom: 10px;
    height: 71px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accomodation-card .bottom-container p {
    font-size: 0.875em;
    font-weight: 600;
}

.accomodation-card img {
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
    height: 124px;
    transition: opacity 0.2s;
}

.accomodation-card-container {
    margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/*         Conteneur de droite 'les plus populaires' dans hébergement         */
/* -------------------------------------------------------------------------- */

#accomodationSection #containerRight {
    width: 28%;
}

.popular-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 33px;
    transition: box-shadow 0.2s;
}

.popular-card img {
    width: 37%;
    object-fit: cover;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    transition: opacity 0.2s;
}

.popular-card .right-container {
    padding: 16px 22px 12px 15px;
    display: flex;
    flex-direction: column;
}

.popular-card .right-container p {
    margin-top: 6px;
    font-size: 0.875em;
    font-weight: 600;
}

.popular-card .rating {
    margin-top: auto;
    white-space: nowrap;
}


/* -------------------------------------------------------------------------- */
/*                             Section "activités"                            */
/* -------------------------------------------------------------------------- */
#activities {
    padding: 60px 0;
}

#activities>div {
    padding-top: 23px;
}

.activity-card {
    width: 22.6%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.activity-card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.activity-card:hover h3 {
    height: 75px;
}

.activity-card img {
    object-fit: cover;
    width: 100%;
    height: 445px;
    border-radius: 20px;
}

.activity-card h3 {
    position: absolute;
    bottom: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
    transition: height 0.3s;
}


/* -------------------------------------------------------------------------- */
/*                               FOOTER                                       */
/* -------------------------------------------------------------------------- */
footer {
    background-color: var(--light-grey);
    padding: 45px 70px 58px;
}

footer nav>div:nth-child(n+2) {
    margin-left: 20%;
}

footer ul {
    margin: 14px 0 0 0;
}

footer ul li {
    line-height: 31px;
}

footer a h3,
footer a h3 {
    font-weight: 400;
}

footer a:hover,
footer a:focus,
footer a:hover h3,
footer a:focus h3 {
    color: var(--dark-grey);
}

/* MEDIA QUERIES */
/* -------------------------------------------------------------------------- */
/*                               STYLE TABLETTE                               */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 991px) {
    body {
        padding: 0 72px;
    }

    /* -------------------------------------------------------------------------- */
    /*                            header style tablette                           */
    /* -------------------------------------------------------------------------- */
    #topNavigation ul li a {
        padding: 0;
    }

    #topNavigation ul li:first-child {
        padding-right: 68px;
    }

    /* -------------------------------------------------------------------------- */
    /*                           formulaire de recherche style Tablette           */
    /* -------------------------------------------------------------------------- */
    #searchFilters {
        align-items: flex-start;
        padding: 0;
    }

    #searchFilters>p {
        margin-top: 14px;
    }

    #searchFilters label:hover {
        background-color: unset;
        box-shadow: unset;
    }



    /* -------------------------------------------------------------------------- */
    /*                             section hébergment Style Tablette              */
    /* -------------------------------------------------------------------------- */
    #accomodationSection {
        flex-direction: column;
    }

    #accomodationSection #containerRight,
    #accomodationSection #containerLeft {
        width: auto;
    }

    #accomodationSection #containerLeft {
        margin-right: 0;
        margin-bottom: 53px;
    }

    #accomodationSection #containerRight .title-container {
        margin-top: 34px;
    }

    .popular-card .right-container h3 {
        font-size: 0.875em;
    }

    /* -------------------------------------------------------------------------- */
    /*                             les plus populaires style tablette             */
    /* -------------------------------------------------------------------------- */
    .most-popular-container {
        display: flex;
        margin: -23px 0 48px -23px;
        width: calc(100% + 23px);
        flex-wrap: wrap;
    }

    .popular-card {
        margin: 23px 0 0 23px;
        flex: 1 1 180px;
    }

    .popular-card img {
        width: 42%
    }

    .popular-card .right-container {
        padding: 12px;
    }

    /* -------------------------------------------------------------------------- */
    /*                          activités style tablette                          */
    /* -------------------------------------------------------------------------- */
    #activities {
        padding: 70px 0 70px 0;
    }

    .activity-card h3 {
        height: calc(70px - 0.5vw);
    }

    .activity-card img {
        height: 26.1vw;
    }

    /* -------------------------------------------------------------------------- */
    /*                            footer style tablette                           */
    /* -------------------------------------------------------------------------- */
    footer nav>div:nth-child(n+2) {
        margin-left: 10%;
    }

}

/* -------------------------------------------------------------------------- */
/*                                STYLE MOBILE                                */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }

    header {
        flex-direction: column;
    }

    #headerLogo {
        padding: 21px 0 0 0;
        margin: 0 auto 48px;
    }

    #topNavigation {
        justify-content: center;
    }

    #topNavigation ul {
        width: 100%;
    }

    #topNavigation ul li {
        width: 50%;
        padding: 0 !important;
    }

    #topNavigation ul li a {
        justify-content: center;
        padding-bottom: 23px;
        width: 100%;
        border-bottom: 3px solid var(--light-grey);
    }

    #topNavigation ul li a:hover,
    #topNavigation ul li a:active,
    #topNavigation ul li a:focus {
        border-top: none;
        border-color: var(--primary);
    }

    /* -------------------------------------------------------------------------- */
    /*                       Section Recherche Style Mobile                       */
    /* -------------------------------------------------------------------------- */
    #searchSection {
        margin-top: 31px;
        padding: 0 20px;
    }

    #searchSection h1+p {
        margin-top: 13px;
    }

    #searchBox {
        margin: 36px 2px 34px;
    }

    #searchBox #locationInput {
        width: 100%;
    }

    #searchBox #locationSubmit span {
        display: none;
    }

    #searchBox #locationSubmit i {
        display: inline;
    }

    #searchFilters {
        flex-direction: column;
    }

    #searchFilters>p {
        margin: 0 0 17px 0;
    }

    #searchFilters label {
        width: 100%;
        font-size: 0.6875em;
        margin: 0;
        padding: 13px;
        min-height: 50px;
    }

    #searchFilters label:hover {
        background-color: unset;
        box-shadow: unset;
    }

    #searchFilters label i {
        padding-right: 5px;
        font-size: 1.6em;
    }

    .filter-buttons-container {
        margin-top: -17px;
    }

    .filter-buttons-container>div {
        width: calc(50% - 8px);
        margin: 17px 0 0;
    }

    .filter-buttons-container>div:nth-child(2n+1) {
        margin-right: 16px;
    }

    #searchInfo {
        align-items: flex-start;
    }

    #searchInfo span:nth-child(1) {
        margin-left: 0;
    }

    /* -------------------------------------------------------------------------- */
    /*                      Section Hébergments style Mobile                      */
    /* -------------------------------------------------------------------------- */
    #accomodationSection {
        flex-direction: column-reverse;
    }

    .most-popular-container {
        flex-direction: column;
        margin: 0;
        width: 100%;

    }

    .popular-card {
        width: 100%;
        margin: 0 0 11px;
        flex: none;
    }

    .popular-card .right-container h3 {
        font-size: 1em;
    }

    #accomodationSection #containerLeft {
        background-color: #FFFFFF;
        margin-bottom: 18px;
    }

    #accomodationSection #containerRight,
    #accomodationSection #containerLeft {
        padding: 0 20px 37px;
        border-radius: unset;
    }

    #accomodationSection #containerLeft .title-container {
        margin: 26px 0 19px 0;
    }

    #accomodationSection #containerRight .title-container {
        margin-top: 28px;
        margin-bottom: 26px;
    }

    .accomodation-card-container {
        flex-direction: column;
    }

    .accomodation-card {
        width: 100%;
        margin-bottom: 12px;
    }

    .accomodation-card img {
        height: 30vw;
        max-height: 180px;
    }

    .accomodation-card .bottom-container {
        height: 75px;
    }

    #accomodationSection #containerLeft>a:last-of-type {
        display: none;
    }

    /* -------------------------------------------------------------------------- */
    /*                           Activités style mobile                           */
    /* -------------------------------------------------------------------------- */


    #activities>div {
        flex-direction: column;
    }

    #activities {
        padding: 28px 20px 56px;
    }

    #activities>h2:first-child {
        width: 50%;
    }

    #activities>div {
        padding-top: 0px;
    }

    .activity-card {
        width: 100%;
        margin-bottom: 24px;
    }

    .activity-card img {
        height: 46vw;
        max-height: 200px;
    }

    .activity-card h3 {
        height: 56px;
    }

    .activity-card:hover h3 {
        height: 56px;
    }

    /* -------------------------------------------------------------------------- */
    /*                             footer Style mobile                            */
    /* -------------------------------------------------------------------------- */

    footer {
        padding: 45px 30px 55px;
    }

    footer nav {
        flex-direction: column;
    }

    footer nav>div:nth-child(n+2) {
        margin-left: 0;
        margin-top: 40px;
    }
}